* *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --hue-neutral: lightblue;
  --hue-wrong: red;
  --hue-correct: rgb(32, 206, 32);
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--hue-neutral);
}

body.correct {
  background-color: var(--hue-correct);
}

body.wrong {
  background-color: var(--hue-wrong);
}

.box {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0px;
}

.btn {
  border: 1px solid var(--hue-neutral);
  background-color: var(--hue-neutral);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  background-color: var(--hue-correct);
  color: black;
}

.btn.wrong {
  background-color: var(--hue-correct);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--hue-neutral);
  border-radius: 5px;
  border: none;
}

.start-btn:hover {
  border: 2px solid black;
}
.next-btn:hover {
  border: 2px solid black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
